@import "../variables.modules";

nav {
  transition: $transition;
}
.small {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 40px;
  margin-top: 40px;
}
.openClose {
  position: absolute;
  font-size: 1.5rem;
  right: 30px;
  top: -18px;
}

.smallOpenClose{
  position: absolute;
  font-size: 1.5rem;
  right: 30px;
  top: 25px;
}

.active {
  border-bottom: 5px solid;
  border-image-slice: 1;
}

li {
  transition: $transition;

  &:hover {
    transform: translateY(-3px);
    transition: $transition;
  }
}

.link:hover {
  color: unset;
}